@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Nunito, sans-serif;
    background-color: rgb(242, 242, 242);
}

  
/* In your CSS file */
.clip-path-quadrilateral {
    clip-path: polygon(
        20% 0%, /* Top-left */
        80% 0%, /* Top-right */
        100% 100%, /* Bottom-right */
        0% 100%  /* Bottom-left */
    );
    background-color: #1B2F27; /* Adjust background color as needed */
    padding: 2rem; /* Adjust padding as needed */
    color: white; /* Adjust text color as needed */
}

.clip-path-quadrilateral:hover {
    background-color: #ADA4FF;
}

.custom-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  
  .custom-scrollbar {
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    scrollbar-width: none;  /* For Firefox */
  }
